<body>
  <section class="features-icons bg-light text-center" id="features">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <a [routerLink]="['/learn/alphabets']"  class="btn btn-light">
          <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3 text-dark">
            <div class="features-icons-icon d-flex justify-content-center text-warning">
              <i class="fas fa-sort-alpha-down fa-3x"></i>
            </div>
            <h2>Alphabets</h2>
            <p class="lead mb-0">Learn your Alphabet signs with our web page</p>
          </div>
        </a>
        </div>


        <div class="col-lg-4">
          <a [routerLink]="['/learn/numbers']"  class="btn btn-light">
          <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3 text-dark">
            <div class="features-icons-icon d-flex justify-content-center text-warning">
              <i class="fas fa-sort-numeric-down fa-3x"></i>
            </div>
            <h2>Numbers</h2>
            <p class="lead mb-0">Learn your Number signs with our web page</p>
          </div>
        </a>
        </div>


        <div class="col-lg-4">
          <a [routerLink]="['/learn/words']" class="btn btn-light">
          <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3 text-dark">
            <div class="features-icons-icon d-flex justify-content-center text-warning">
              <i class="far fa-file-word fa-3x"></i>
            </div>
            <h2>Words</h2>
            <p class="lead mb-0">Learn your word signs with our web page</p>
          </div>
        </a>
        </div>
      </div>
    </div>

  </section>



</body>
