

<div class="container-fluid bg-light mb-3">
   <div class="container-fluid bg-light">
      <div class="container-fluid bg-warning">
         <div class="row mt-2 mb-3">
            <main role="main" class="col">
               <div class="card text-center text-warning">
                  <h1 class="h1">Words</h1>
               </div>
            </main>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/good_morning.gif">
               <img src="assets/img/words/good_morning.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Good Morning"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/wakeup.gif">
               <img src="assets/img/words/wakeup.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"WakeUp"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/please.png">
               <img src="assets/img/words/please.png" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Please"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/hello.gif">
               <img src="assets/img/words/hello.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Hello"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/excuse_me.gif">
               <img src="assets/img/words/excuse_me.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Excuse Me"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/grandma.gif">
               <img src="assets/img/words/grandma.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"GrandMa"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/grandpa.jpg">
               <img src="assets/img/words/grandpa.jpg" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"GrandPa"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/mom.jpg">
               <img src="assets/img/words/mom.jpg" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Mom"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/dad.jpg">
               <img src="assets/img/words/dad.jpg" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Dad"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/hungry.gif">
               <img src="assets/img/words/hungry.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Hungry"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/please.png">
               <img src="assets/img/words/please.png" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Please"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/eat.gif">
               <img src="assets/img/words/eat.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"Eat"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/thank_you.gif">
               <img src="assets/img/words/thank_you.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"ThankYou"</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-1">
         <div class="card text-center">
            <div class="card-block">
               <a href="assets/img/words/youre_welcome.gif">
               <img src="assets/img/words/youre_welcome.gif" alt="" class="img-fluid"  style="width:200px;height:250px;"></a>
               <div class="card-title text-warning">
                  <h4>"You're Welcome "</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card-block text-center bg-light mt-4 mb-2">
      <a [routerLink]="['/learn']"  class="text-center" class="btn btn-lg btn-primary">Back</a>
   </div>
   <br>
</div>

