          

<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5 mb-2">
          <div class="card">
                <div class="card-body text-center">
                    <div class="mb-1">
                        <i class="fas fa-sign-in-alt fa-lg"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
                        [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                        <div *ngIf="signInForm.submitted && email.errors?.pattern">
                          <label class="validation-message">Invalid email address.</label>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                        <div *ngIf="signInForm.submitted && password.errors?.minlength">
                          <label class="validation-message">Minimum 4 characters.</label>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mb-4 text-left">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remenber me.</label>
                    </div>
                    <div class="input-group  align-items-center justify-content-center mb-4">
                        <button type="submit" class="btn btn-primary" value="Sign In">Sign In</button>
                    </div>
                    </form>
                    <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/reset']">Reset</a></p>
                    <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/register']">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>