
<div class="container-fluid bg-light">

  <div class="container-fluid bg-warning">
  <div class="row mt-2 mb-3">
    <main role="main" class="col">
        <div class="card text-center text-warning">
          <h1 class="h1">Alphabets</h1>
    </div>
    </main>
    </div>
    </div>

    
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
              <a href="assets/img/Alphabet/image-A.png">
            <img src="assets/img/Alphabet/image-A.png" alt="" class="img-fluid" style="width:100px;height:100px;"> </a>
            <div class="card-title text-warning">
              <h4>"A"</h4>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-B.png">
            <img src="assets/img/Alphabet/image-B.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"B"</h4>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-C.png">
            <img src="assets/img/Alphabet/image-C.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"C"</h4>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-D.png">
            <img src="assets/img/Alphabet/image-D.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"D"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-E.png">
            <img src="assets/img/Alphabet/image-E.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"E"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-F.png">
            <img src="assets/img/Alphabet/image-F.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"F"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-G.png">
            <img src="assets/img/Alphabet/image-G.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"G"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-H.png">
            <img src="assets/img/Alphabet/image-H.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"H"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-I.png">
            <img src="assets/img/Alphabet/image-I.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"I"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-J.png">
            <img src="assets/img/Alphabet/image-J.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"J"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-K.png">
            <img src="assets/img/Alphabet/image-K.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"K"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-L.png">
            <img src="assets/img/Alphabet/image-L.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"L"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-M.png">
            <img src="assets/img/Alphabet/image-M.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"M"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-N.png">
            <img src="assets/img/Alphabet/image-N.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"N"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-O.png">
            <img src="assets/img/Alphabet/image-O.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"O"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block bg-white">
            <a href="assets/img/Alphabet/image-P.png">
            <img src="assets/img/Alphabet/image-P.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"P"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-Q.png">
            <img src="assets/img/Alphabet/image-Q.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"Q"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-R.png">
            <img src="assets/img/Alphabet/image-R.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"R"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-S.png">
            <img src="assets/img/Alphabet/image-S.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"S"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-T.png">
            <img src="assets/img/Alphabet/image-T.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"T"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-U.png">
            <img src="assets/img/Alphabet/image-U.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"U"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-V.png">
            <img src="assets/img/Alphabet/image-V.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"V"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-W.png">
            <img src="assets/img/Alphabet/image-W.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"W"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-X.png">
            <img src="assets/img/Alphabet/image-X.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"X"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-Y.png">
            <img src="assets/img/Alphabet/image-Y.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"Y"</h4>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <div class="card text-center">
          <div class="card-block">
            <a href="assets/img/Alphabet/image-Z.png">
            <img src="assets/img/Alphabet/image-Z.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
            <div class="card-title text-warning">
              <h4>"Z"</h4>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="card-block text-center bg-light mt-4 mb-4">
    <a [routerLink]="['/learn']"  class="text-center" class="btn btn-lg btn-primary" style="margin-bottom:20px">Back</a>
    </div>
    </div>
