

<div class="container-fluid bg-light">
   <div class="container-fluid bg-light">
      <div class="container-fluid bg-warning">
         <div class="row mt-2 mb-3">
            <main role="main" class="col">
               <div class="card text-center text-warning">
                  <h1 class="h1">Numbers</h1>
               </div>
            </main>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-0.png">
                  <img src="assets/img/Numbers/number-0.png" alt="" class="img-fluid"  style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"0"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-0.png">
                <img src="assets/img/Numbers/number-0.png" alt="" class="img-fluid"  style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"0"</h4>
                </div>

              </div>


            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-1.png">
                  <img src="assets/img/Numbers/number-1.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"1"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-1.png">
                <img src="assets/img/Numbers/number-1.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"1"</h4>
                </div>

              </div>

            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-2.png">
                  <img src="assets/img/Numbers/number-2.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"2"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-2.png">
                <img src="assets/img/Numbers/number-2.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"2"</h4>
                </div>

              </div>


            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-3.png">
                  <img src="assets/img/Numbers/number-3.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"3"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-3.png">
                <img src="assets/img/Numbers/number-3.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"3"</h4>
                </div>

              </div>


            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-4.png">
                  <img src="assets/img/Numbers/number-4.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"4"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-4.png">
                <img src="assets/img/Numbers/number-4.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"4"</h4>
                </div>

              </div>

            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-5.png">
                  <img src="assets/img/Numbers/number-5.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"5"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-5.png">
                <img src="assets/img/Numbers/number-5.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"5"</h4>
                </div>

              </div>

            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-6.png">
                  <img src="assets/img/Numbers/number-6.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"6"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-6.png">
                <img src="assets/img/Numbers/number-6.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"6"</h4>
                </div>

              </div>


            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-7.png">
                  <img src="assets/img/Numbers/number-7.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"7"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-7.png">
                <img src="assets/img/Numbers/number-7.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"7"</h4>
                </div>

              </div>


            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-8.png">
                  <img src="assets/img/Numbers/number-8.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"8"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-8.png">
                <img src="assets/img/Numbers/number-8.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"8"</h4>
                </div>

              </div>


            </div>
         </div>
         <div class="col-md-3 col-sm-6 mb-1">
            <div class="card text-center">

               <div class="card-block">
                  <a href="assets/img/Numbers/number-9.png">
                  <img src="assets/img/Numbers/number-9.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                  <div class="card-title">
                     <h4>"9"</h4>
                  </div>
               </div>

              <div class="card-block">
                <a href="assets/img/Numbers/number-9.png">
                <img src="assets/img/Numbers/number-9.png" alt="" class="img-fluid" style="width:100px;height:100px;"></a>
                <div class="card-title text-warning">
                  <h4>"9"</h4>
                </div>

              </div>


            </div>
         </div>
      </div>
   </div>
   <div class="card-block text-center bg-light mt-4 mb-2">
      <a [routerLink]="['/learn']"  class="text-center" class="btn btn-lg btn-primary">Back</a>
   </div>
   <br>
</div>

