

<!-- Footer -->
<br>
<footer class="page-footer font-small cyan darken-3">
   <!-- Footer Elements -->
   <div class="container">
      <!-- Grid row-->
      <div class="row">
         <!-- Grid column -->
         <div class="col">
            <div class="text-center">
               <!-- Facebook -->
               <a class="fb-ic " [routerLink]="['/']">
               <i class="fab fa-facebook-f fa-lg text-muted mr-md-5 mr-3 fa-lg"> </i>
               </a>
               <!-- Twitter -->
               <a class="tw-ic" [routerLink]="['/']">
               <i class="fab fa-twitter fa-lg text-muted mr-md-5 mr-3 fa-lg"> </i>
               </a>
               <!-- Google +-->
               <a class="gplus-ic" [routerLink]="['/']">
               <i class="fab fa-google-plus-g fa-lg text-muted mr-md-5 mr-3 fa-lg"> </i>
               </a>
               <!--Linkedin -->
               <a class="li-ic" [routerLink]="['/']">
               <i class="fab fa-linkedin-in fa-lg text-muted mr-md-5 mr-3 fa-lg"> </i>
               </a>
               <!--GitHub-->
               <a class="pin-ic" [routerLink]="['/']">
               <i class="fab fa-github fa-lg text-muted fa-lg"> </i>
               </a>
            </div>
         </div>
         <!-- Grid column -->
      </div>
      <!-- Grid row-->
   </div>
   <!-- Footer Elements -->
   <!-- Copyright -->
   <div class="footer-copyright text-center py-2 text-muted">© 2019 Copyright:
      <a class="text-muted"> A team</a>
   </div>
   <!-- Copyright -->
</footer>
<!-- Footer -->

