<div class="container-fluid"   style="text-align:center">
  <br>
  <h1>About us</h1>
  <br>
  <div class="row justify-content-md-center">
    <div class = "col-8">
      <p class="text-justify">
  We are the A team,  and we have developed this web application as a final proyect for the Lecture Advance Web Technologies.</p>
  <br>
  <p class="text-justify">We have used the MEAN stack (Mongo DB, ExpressJS, Angular and NodeJS). </p>
  <br> <br>
  <img src="assets/img/A-team-logo.png" style="width:200px;height:250px;">
  </div>
</div>
