<div class="container-fluid"   style="text-align:center">
  <br>
  <h1>About us</h1>
  <br>
  <div class="row justify-content-md-center">
    <div class = "col-8">
      <p class="text-justify">
        We are the A team, group of Master students: Agustin, Anusha and Aynaz, at Duisburg-Essen university.<br />
        This project is done under supervision of Prof. Dr Chatti and Dr. Muslim.<br />
        This web application have been developed as class project for Advanced web Technologies lecture.
      </p>
  
  <p class="text-justify">
    Technologies used in this web application are MEAN (Mongo DB, ExpressJS, Angular and NodeJS)<br />
    We hope that, this web application could provide good opportunity and environment to learn Sign Language. 
  </p>
      <p>Link to out project in Git:</p>
  <br> <br>
  <img src="assets/img/A-team-logo.png" style="width:200px;height:250px;">
  </div>
</div>
