

<!-- Icons Grid -->
<section class="features-icons bg-light text-center" id="features">
   <div class="container">
      <h2 style="margin-left: 10rem">Meet us</h2>
      <div class="row justify-content-md-center align-items-center">
         <div class="col-lg-2">
            <p></p>
            <p></p>
            <img src="assets/img/A-team-logo.png" style="width:160px;height:200px;">
         </div>
         <div class="col-lg-8 ">
            <h5>
               <p class="mb-0 text-justify"> We are the A team, a group of multidisciplinar students of the university of Duisburg-Essen. We have developed this web application as a final proyect for the Lecture Advance Web Technologies. </p>
               <p></p>
               <p class="mb-0 text-justify"> For this project we have used the MEAN stack (Mongo DB, ExpressJS, Angular and NodeJS) in addition to Bootstrap css framework.</p>
               <p></p>
               <a routerLink="/AboutUs" fragment="Members" class="btn btn-light js-scroll-trigger">
                  <p class="mb-0 text-justify text-primary">Know more about us.</p>
               </a>
            </h5>
         </div>
      </div>
      <div class="row mt-4 row justify-content-md-center align-items-center">
         <div class="col-lg-3">
            <a routerLink="/AboutUs" fragment="Mongo" class="btn btn-light js-scroll-trigger">
               <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex justify-content-center">
                     <i class="fab fa-envira fa-2x"></i>
                  </div>
                  <h4>Mongo DBs</h4>
               </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a routerLink="/AboutUs" fragment="Express" class="btn btn-light js-scroll-trigger">
               <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex justify-content-center">
                     <i class="fab fa-node-js fa-2x"></i>
                  </div>
                  <h4>Express JS</h4>
               </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a routerLink="/AboutUs" fragment="Angular" class="btn btn-light js-scroll-trigger">
               <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex justify-content-center">
                     <i class="fab fa-angular fa-2x"></i>
                  </div>
                  <h4>Angular</h4>
               </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a routerLink="/AboutUs" fragment="Node" class="btn btn-light js-scroll-trigger">
               <div class="features-icons-item mx-auto mb-4 mt-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex justify-content-center">
                     <i class="fab fa-node fa-2x"></i>
                  </div>
                  <h4>Node JS</h4>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
   <div class="container-fluid p-0">
      <div class="row no-gutters" id="Mongo">
         <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/Mongo3.png');"></div>
         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Mongo DB</h2>
            <p class="lead mb-0">MongoDB is a general purpose, document-based, distributed database built for modern application developers and for the cloud era.</p>
            <p></p>
            <p class="lead mb-0">MongoDB provides a great scalability and flexibility and effectives methods for querying and indexing. </p>
            <p></p>
            <a href="https://www.mongodb.com/">Go to the official website <i class="fas fa-external-link-alt"></i></a>
         </div>
      </div>
      <div class="row no-gutters" id="Express">
         <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/Js.png');"></div>
         <div class="col-lg-6 my-auto showcase-text">
            <h2>Express JS</h2>
            <p class="lead mb-0">Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
            <p></p>
            <p class="lead mb-0">Express provides a thin layer of fundamental web application features, without obscuring Node.js features that you know and love. </p>
            <p></p>
            <a href="http://expressjs.com/">Go to the official website <i class="fas fa-external-link-alt"></i></a>
         </div>
      </div>
      <div class="row no-gutters" id="Angular">
         <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/Angular3.png');"></div>
         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Angular</h2>
            <p class="lead mb-0">Angular is a platform and framework for building client applications in HTML and TypeScript.</p>
            <p></p>
            <p class="lead mb-0">It implements core and optional functionality as a set of TypeScript libraries that you import into your apps. </p>
            <p></p>
            <a href="https://angular.io/">Go to the official website <i class="fas fa-external-link-alt"></i></a>
         </div>
      </div>
      <div class="row no-gutters" id="Node">
         <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/Node.png');"></div>
         <div class="col-lg-6 my-auto showcase-text">
            <h2>Node JS</h2>
            <p class="lead mb-0">Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.</p>
            <p></p>
            <p class="lead mb-0">As an asynchronous event driven JavaScript runtime, Node.js is designed to build scalable network applications.  </p>
            <p></p>
            <a href="https://nodejs.org/en/">Go to the official website <i class="fas fa-external-link-alt"></i></a>
         </div>
      </div>
   </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
   <div class="container">
      <h2 class="mb-5">Members</h2>
      <div class="row" id="Members">
         <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
               <img src="assets/img/aynaz.jpg" class="img-fluid rounded-circle mb-3" style="width:135px;height:150px;" alt="Aynaz"> 
               <h5>Aynaz Khoshkhoo</h5>
               <p class="font-weight-light mb-0 text-justify">Master of computer engineering (Intelligent networked system) student on Duisburg-Essen University.</p>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
               <img src="assets/img/agustin.jpg" class="img-fluid rounded-circle mb-3" style="width:135px;height:150px;" alt="Agustin"> 
               <h5>Agustín Gázquez Hurtado</h5>
               <p class="font-weight-light mb-0 text-justify">Telecommunication engineering (speciality of Telematic Systems) student in University of Granada. Erasmus student on Duisburg-Essen University during the academic course 2018/19.</p>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
               <img src="assets/img/anusha.jpg" class="img-fluid rounded-circle mb-3" style="width:135px;height:150px;" alt="Anusha"> 
               <h5>Anusha Bangaru</h5>
               <p class="font-weight-light mb-0 text-justify">Master of computer engineering (Intelligent networked system) student on Duisburg-Essen University.</p>
            </div>
         </div>
      </div>
   </div>
</section>

